.albums-container {
    padding: 15px 30px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    justify-content: space-evenly;
}

.albums-header-text {
    margin-top: 0;
    font-size: 40px;
}

.albums-header-album-count {
    margin-top: 0;
}

.albums-header-sort-icon {
    cursor: pointer;
    width: 25px;
}

.albums-header-container {
    position: relative;
    display: inline-block;
}

.albums-sort-controls {
    width: 200px;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-50%, -30px);
    border-radius: 10px;
    padding: 15px;
    background: #080a0b;
    z-index: 1;
}

.albums-sort-controls > div:not(:last-child) {
    border-bottom: 1px solid #282a2b;
}

.albums-sort-controls > div {
    cursor: pointer;
    display: flex;
    padding: 10px;
}

.albums-sort-controls > div:hover {
    background: #888a8b;
}

.albums-header-controls {
    border-radius: 10px;
    padding: 15px;
    background: rgba(8, 10, 11, 0.8);
}

#albums-header-offset {
    height: 52px;
}

.sort-chevron-icon {
    width: 15px;
    margin-left: auto;
}

.search-albums {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin: 20px 30px;
    height: 36px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(6, 8, 9, 0.3);
    width: calc(min(100vw - max(240px, min(280px, 15vw)), max(100px, 30vw)));
    transition: width 0.1s;
}

.search-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: #000;
    pointer-events: none;
    transition: opacity 0.1s;
}

.search-albums:focus ~ .search-backdrop {
    opacity: 0.8;
}

.search-albums:focus {
    width: calc(100vw - max(240px, min(280px, 15vw)) - 90px);
    z-index: 20;
}

.main-content.wide .search-albums {
    width: calc(min(100vw - 60px - 90px, max(100px, 30vw)));
}

.main-content.wide .search-albums:focus {
    width: calc(100vw - 60px - 90px);
}

@media (max-width: 600px) {
    .albums-container {
        padding: 5px 10px;
    }

    .albums {
        grid-template-columns: repeat(auto-fill, 120px);
        grid-gap: 5px;
    }

    .albums .album-icon-container,
    .albums .album-icon {
        width: 120px !important;
        height: 120px !important;
    }
}
