.albums-container {
    padding: 15px 30px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    justify-content: space-between;
}

.albums-header-text {
    font-size: 40px;
}

#albums-header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0px;
    left: max(240px, min(280px, 15vw));
    width: calc(100% - max(240px, min(280px, 15vw)));
    margin: 10px 0;
}

.albums-header-sort-icon {
    cursor: pointer;
    width: 25px;
}

.albums-header-container {
    position: relative;
    display: inline-block;
}

.albums-sort-controls {
    width: 200px;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(6px, -40px);
    border-radius: 10px;
    padding: 15px;
    background: #080a0b;
    z-index: 1;
}

.albums-sort-controls > div:not(:last-child) {
    border-bottom: 1px solid #282a2b;
}

.albums-sort-controls > div {
    cursor: pointer;
    display: flex;
    padding: 10px;
}

.albums-sort-controls > div:hover {
    background: #888a8b;
}

.albums-header-controls {
    border-radius: 10px;
    padding: 15px;
    background: rgba(8, 10, 11, 0.8);
}

#albums-header-offset {
    height: 55px;
}

.sort-chevron-icon {
    width: 15px;
    margin-left: auto;
}
