---
import './album.css';
---

<script src="./album.ts" />

<div class="album">
    <div class="album-icon-container">
        <img class="album-icon" loading="lazy" />
        <div class="album-controls">
            <button class="media-button play-button button">
                <img src="/img/play-button.svg" alt="Play" />
            </button>
            <button class="media-button options-button button">
                <img src="/img/more-options.svg" alt="Play" />
            </button>
        </div>
    </div>
    <div class="album-details">
        <div class="album-title"></div>
        <div class="album-artist"></div>
        <div class="album-year">
            <span class="album-year-text"></span>
        </div>
        <div class="album-version-qualities">
            <span class="album-version-qualities-text"></span>
        </div>
    </div>
</div>
