---
import Layout from '~/layouts/Layout.astro';
import DownloadsPage from '~/routes/downloads.tsx';
---

<Layout title="MoosicBox">
    <main>
        <DownloadsPage client:only />
    </main>
</Layout>
