.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 15px;
    padding: 15px 30px;
    justify-content: space-between;
}

.album {
    text-align: center;
    width: 200px;
}
