body {
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    background: #181a1b;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background: #181a1b;
    }
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

#root {
    min-height: calc(100% - 140px);
    padding-bottom: 120px;
    padding-top: 20px;
}

#root.dark {
    background-color: #181a1b;
    color: white;
}

header {
    text-align: center;
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #335d92;
}

p {
    max-width: 14rem;
    margin: 2rem auto;
    line-height: 1.35;
}

@media (min-width: 480px) {
    h1 {
        max-width: none;
    }

    p {
        max-width: none;
    }
}

.footer-player-container {
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: end;
    text-align: center;
    width: 100%;
    height: 128px;
    background: linear-gradient(
        to top,
        rgba(8, 10, 11, 100) 80%,
        rgba(8, 10, 11, 0) 100%
    );
}

.footer-player {
    width: 100%;
    height: 100px;
}

.dark .footer-player {
    /*background-color: #080a0b;*/
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #282a2b;
}

*::-webkit-scrollbar-thumb {
    background-color: #181a1b;
    border-radius: 20px;
    border: 3px solid #181a1b;
}

.playback-sessions-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .15);
    overscroll-behavior: contain;
}
.playback-sessions-modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding-bottom: 10px;
}

.playback-sessions-modal-header-new-button {
    height: 25px;
    margin-left: 10px;
}

.playback-sessions-modal-content {
    overflow: auto;
    overscroll-behavior: contain;
    height: calc(100% - 100px);
}

.playback-sessions-modal {
    position: fixed;
    left: 50%;
    top: 47%;
    width: 80vw;
    height: 80vh;
    max-width: 1200px;
    max-height: calc(100vh - 230px);
    transform: translate(-50%, -50%);
    background-color: #080a0b;
    padding: 3% 5%;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 12px rgba(6, 8, 9, .3);
}

.playback-sessions-modal-close {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
}

.playback-sessions-modal-close .cross-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34px;
}
