.search-input {
    position: relative;
    height: 36px;
    padding: 0 10px;
    text-indent: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 0px 4px 4px rgba(6, 8, 9, 0.3);
    width: 100%;
    z-index: 18;
    box-sizing: border-box;
    transition:
        text-indent 0.1s,
        padding 0.1s;
}

.search-container:focus-within .search-input {
    padding-right: 30px;
    padding-left: 40px;
    text-indent: 0;
}

.cancel-search-icon {
    cursor: pointer;
    position: absolute;
    right: calc(6px + 30px);
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    width: 25px;
    height: 25px;
    z-index: 18;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

.search-container:focus-within .cancel-search-icon {
    opacity: 1;
    pointer-events: all;
}

.search-container {
    position: fixed;
    left: calc(100% - 30px - 10px - 30px - 30px);
    top: 0;
    z-index: 18;
    padding: 20px 30px;
    display: flex;
    justify-content: end;
    transition:
        left 0.1s,
        width 0.1s;
    width: 40px;
}

.search-container:focus-within {
    left: max(240px, min(280px, 15vw));
    width: calc(100% - max(240px, min(280px, 15vw)) - 60px);
}

.main-content.wide .search-container:focus-within {
    left: calc(60px);
    width: calc(100% - 60px - 60px);
}

.search-label-container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.search-label {
    width: 100%;
    position: relative;
    height: 100%;
}

.search-label:before {
    content: '';
    position: absolute;
    padding: 0px;
    left: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background: url('/img/magnifying-glass.svg') center / contain no-repeat;
    cursor: pointer;
    z-index: 21;
}

.search-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: #000;
    pointer-events: none;
    transition: opacity 0.1s;
    z-index: 12;
}

.search-container:focus-within .search-backdrop {
    pointer-events: all;
    opacity: 0.8;
}

.search-input:not(:focus) {
    cursor: pointer;
}

.search-container:focus-within {
    border-radius: 10px;
    z-index: 20;
}

.search-results {
    position: absolute;
    left: 0;
    right: 0;
    top: 72px;
    z-index: 18;
    min-width: calc(100vw - max(240px, min(280px, 15vw)) - 60px);
    max-height: calc(100vh - 72px - 380px);
    overflow: auto;
    overflow-x: hidden;
    margin: 20px 30px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(8, 10, 11, 0.8);
    border-radius: 20px;
    overscroll-behavior: contain;
    display: none;
}

.search-container:focus-within .search-results {
    display: block;
}

.search-results-result {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-results-result-icon {
    padding-right: 10px;
}

.search-results-result-link {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

.search-results-result-link:focus,
.search-results-result-link:hover {
    background-color: #333333;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .search-container {
        left: calc(100% - 30px - 10px - 10px - 10px);
        padding: 10px;
    }

    .search-results {
        position: fixed;
        margin: 5px 10px;
        padding: 5px 10px;
    }

    .search-container:focus-within {
        left: calc(0px);
        width: calc(100% - 20px);
    }

    .main-content.wide .search-container:focus-within {
        left: calc(0px);
        width: calc(100% - 20px);
    }
}
