.player .button {
    font-family: inherit;
    font-size: inherit;
    padding: 0px;
    color: #335d92;
    background-color: rgba(68, 107, 158, 0.1);
    border-radius: 2em;
    border: 2px solid rgba(68, 107, 158, 0);
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.player .button:focus {
    border: 2px solid #335d92;
}

.player .button:active {
    background-color: rgba(68, 107, 158, 0.2);
}

.player {
    display: flex;
    height: 100%;
    align-items: center;
}

.player .player-now-playing {
    display: flex;
    align-items: center;
    width: 25%;
}

.player .player-now-playing-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.player-album-icon {
    padding: 10px 20px;
}

.dark .player-now-playing-details-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-now-playing-details-artist {
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-now-playing-details-album {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark .player-now-playing-details-artist,
.dark .player-now-playing-details-artist a {
    color: #808080;
}

.dark .player-now-playing-details-album,
.dark .player-now-playing-details-album a {
    color: #808080;
}

.player-now-playing-details-artist,
.player-now-playing-details-album {
    font-size: 14px;
}

.player-now-playing-details a {
    text-decoration: none;
}

.player-now-playing-details a:hover {
    text-decoration: underline;
}

.player .player-media-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 1000px;
}

.player .player-media-controls-seeker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 4px;
}

.player .player-media-controls-seeker-current-time {
    width: 65px;
    text-align: right;
    padding-right: 10px;
}

.player .player-media-controls-seeker-bar {
    flex: 1;
    height: 4px;
    width: 100%;
    background-color: #222222;
    border-radius: 10px;
    position: relative;
}

.player .player-media-controls-seeker-bar-progress {
    will-change: width;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    pointer-events: none;
}

.player-media-controls-seeker-bar-progress-trigger:hover
    + .player-media-controls-seeker-bar-progress-tooltip {
    display: block;
}

.player .player-media-controls-seeker-bar-progress-tooltip {
    display: none;
    position: absolute;
    left: 0%;
    top: -34px;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: black;
    padding: 1px 4px;
    border-radius: 3px;
    pointer-events: none;
}

.player .player-media-controls-seeker-bar-progress-trigger {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    padding: 20px 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.player .player-media-controls-seeker-total-time {
    width: 65px;
    text-align: left;
    padding-left: 10px;
}

.player .player-track-options {
    width: 25%;
}

.player .player-track-options-buttons {
    text-align: right;
    padding-right: 20px;
}

.media-button {
    margin: 5px;
}

.play-button {
    width: 17px;
    position: relative;
    top: 2px;
    left: 2px;
}

.pause-button {
    width: 17px;
    position: relative;
    top: 2px;
}

.next-track-button {
    width: 18px;
    position: relative;
    top: 2px;
    left: 1px;
}

.previous-track-button {
    width: 18px;
    transform: scaleX(-1);
    position: relative;
    top: 2px;
    right: 1px;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.show-playlist-icon {
    width: 25px;
    cursor: pointer;
}

.playlist-slideout {
    display: none;
    overscroll-behavior: contain;
    transition-property: transform;
    transition-duration: 0.2s;
    background-color: #282a2b;
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 120px;
    overflow: auto;
    width: 30%;
    min-width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 15;
}
